body {
  background: #feffca;
}
@font-face {
font-family: "Marto";
src: url("../fonts/Marto.ttf");
}
#logo{
font-family: Marto;
text-shadow: 2px 2px #FFff00;
}

#jumbotron {
    background-image:url(../img/pzabg.jpg);
    -webkit-transition:background-image 0.5s;
    /* Other vendor-prefixed transition properties */
    transition:background-image 0.5s;
}
